<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8"/>
<title>votre banque</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"  />

<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}"  />

</head>
<body>

<header>
							<div class="navbar navbar-inverse">
								<div class="container-fluid">
								<ul class="nav navbar-nav">
								<li><a th:href="@{/authentifier}" >Authenfication</a></li>
								
								
								
								</ul>
								
								</div>
							
							</div>
</header>
<section layout:fragment="content"></section>





</body>
</html>