<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template1">
<head>

<meta charset="utf-8"/>
<title>Orientation.tn</title>
</head>
<body>
<div layout:fragment="content">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading"> consultation d'un compte</div>
			<div class="panel-body">
					<form th:action="@{/consulterCompte}" method="get">
						<div>
							<label>Code compte</label>
							<input name="codeCompte" type="text" th:value="${codeCompte}"/>
							<button type="submit" class="btn btn-primary">OK</button>
						</div>
					</form>
					
					<div class="text-danger" th:if="${exception}" th:text="${exception.getMessage()}"  >
					</div>
			</div>
		</div>
		
		<div class="panel panel-primary" th:if="${compte}">
			<div class="panel-heading">Information sur le  compte</div>
			<div class="panel-body">
			
				<div>
					<label>client:</label>
					<label th:text="${compte.client.nom}"></label>
				</div>
				<div>
					<label>code:</label>
					<label th:text="${compte.codeCompte}"></label>
				</div>
				
				<div>
					<label>solde:</label>
					<label th:text="${compte.solde}"></label>
				</div>
				
				
				<div>
					<label>Date création:</label>
					<label th:text="${compte.dateCreation}"></label>
				</div>
				
				
				<div>
					<label>type:</label>
					<label th:text="${compte.class.simpleName}"></label>
				</div>
				
				<div th:if="${compte.class.SimpleName=='CompteCourant'}">
					<label>Decouvert:</label>
					<label th:text="${compte.decouvert}"></label>
				</div>
				
				
				<div th:if="${compte.class.SimpleName=='CompteEpargne'}">
					<label>Taux:</label>
					<label th:text="${compte.taux}"></label>
				</div>
				
				
			</div>
		</div>
	
	</div>
	
	<div class="col-md-6">
	
			<div class="panel panel-primary" th:if="${compte}">
				<div class="panel-heading"> Opérations sur le compte</div>
				<div class="panel-body">
					<form th:action="@{/saveOperation}" method="post">
						<div>
							<label>compte</label>
							<input type="hidden" name="codeCompte" th:value="${codeCompte}" />
							<label th:text="${codeCompte}"></label>
						</div>
						<div>
							<input type="radio" name="typeOperation" value="Vers" checked="checked" onchange="document.getElementById('forVirement').style.display='none'"/>
							<label>Versement</label>
							
							<input type="radio" name="typeOperation" value="Ret" checked="checked" onchange="document.getElementById('forVirement').style.display='none'"    />
							<label>Retrait</label>
							
							<input type="radio" name="typeOperation" value="Vir" checked="checked" onchange="document.getElementById('forVirement').style.display='block'"  />
							<label>Virement</label>
						</div>
					
					
					<div id="forVirement">
					
						<label>Vers:</label>
						<input type="text" name="codeCompte2" />
						
					</div>
					
					<div>
					
						<label>Montant:</label>
						<input type="text" name="montant" />
						
					</div>
					<button type="submit" class="btn btn-primary">Save</button>
					
					</form>
					
				</div>
			</div>
			
			<div class="panel panel-primary" th:if="${compte}">
			<div class="panel-heading"> Liste des opérations</div>
			<div class="panel-body">
			
					<table class="table table-striped">
						<tr> 
								<th>num</th> <th>type</th> <th>date</th>  <th>Montant</th>
						
						</tr>
						
						<tr th:each="o:${listeOperations}">
						
							<td th:text="${o.numero}"></td>
							<td th:text="${o.class.simpleName}"></td>
							<td th:text="${o.dateOperation}"></td>
							<td th:text="${o.montant}"></td>
							
								
						</tr>
					</table>
			
			
			</div>
		</div>
	
	</div>
	

</div>
</body>
</html>